.sponsorshipWidget {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    color: white;
    background: black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.sponsorshipWidget svg {
    width: 30px;
    height: auto;
}
