name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PACKAGE_FOLDER: Shel.Neos.Terminal

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        neosVersion:
          - '9.0'

    name: 'Terminal with Neos ${{ matrix.neosVersion }} test'

    env:
      NEOS_TARGET_VERSION: ${{matrix.neosVersion}}
      FLOW_CONTEXT: Testing
      FLOW_FOLDER: ../neos-base-distribution

    steps:
      - uses: actions/checkout@v3

      - name: Set package branch name
        run: echo "PACKAGE_TARGET_VERSION=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV
        working-directory: .

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, xml, json, zlib, iconv, intl, pdo_sqlite, mysql
          tools: composer:v2

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.neosVersion }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-${{ matrix.neosVersion }}-

      - name: Prepare Flow distribution
        run: |
          git clone https://github.com/neos/neos-base-distribution.git -b ${NEOS_TARGET_VERSION} ${FLOW_FOLDER}
          cd ${FLOW_FOLDER}

          git -C ../${{ env.PACKAGE_FOLDER }} checkout -b build
          composer config repositories.package '{ "type": "path", "url": "../${{ env.PACKAGE_FOLDER }}", "options": { "symlink": false } }'
          composer require --no-update --no-interaction shel/neos-terminal:"dev-build as dev-${PACKAGE_TARGET_VERSION}"
          composer require --no-update --no-interaction neos/contentgraph-doctrinedbaladapter:"~9.0.0"

      - name: Composer Install
        run: |
          cd ${FLOW_FOLDER}
          composer update --no-interaction --no-progress

      - name: Setup Flow configuration
        run: |
          cd ${FLOW_FOLDER}
          rm -f Configuration/Testing/Settings.yaml
          cat <<EOF >> Configuration/Testing/Settings.yaml
          Neos:
            Flow:
              persistence:
                backendOptions:
                  host: '127.0.0.1'
                  driver: pdo_mysql
                  user: 'neos'
                  password: 'neos'
                  dbname: 'neos_functional_testing'
          EOF

      - name: Run Functional tests
        run: |
          cd ${FLOW_FOLDER}
          bin/phpunit --colors -c Build/BuildEssentials/PhpUnit/FunctionalTests.xml Packages/Plugins/Shel.Neos.Terminal/Tests/Functional/*
